.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #6963AD;
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: #6963AD;
  }

  
  .user-container{
    text-align: center;
    background:  #6963ad1e;
    padding: 2rem 0 1rem 0;
    width: 100%;
  }

  .profile-page-anchor{
    text-decoration: none;
    color: #6963AD;
    display: block;
    padding: 0.5em 1em;
  }

  .profile-page-anchor:hover{
    border-bottom: 2px solid #6963AD;

  }

  .profile-page-anchor:active{
    border-bottom: 2px solid #6963AD;
  }
 

.profile-page-list{
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 0em;
    padding-inline-start: 0;
    margin-inline-end: 0px; 
}

.success {
  color: blue;
}

.error {
  color: red;
}

  *{
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
  }
  .navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: var(--color-primary);
    color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  .navigation-menu {
    margin-left: auto;
  }

  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  .navigation-menu li {
    margin: 1rem;
    list-style:none;    
    color: #6963AD
  }
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #6963AD;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  .hamburger:hover {
    background-color: #7c75ce;
  }
  

  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .navigation-menu ul {
      position: absolute;
      top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 77px);
      background-color: white;
      border-top: 1px solid black;
    }
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }
    .navigation-menu li:hover {
      background-color: #eee;
    }
    .navigation-menu ul {
      display: none;
    }
    .navigation-menu.expanded ul {
      display: block;
    }
  }

  @media screen and (max-width: 700px) {
    .banner-style {
      width: 100%; 
    }
  }

  .forHoverTag{
    background-color: #AA86D5;
    text-align: center;
    border-radius: 10px;
    border-color:white;
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 13px;
  }

  .forHoverTag:hover{
    background-color: #7c75ce;
  }


  .banner-style {
      background-color:  #AA86D5 ;
      background-position:  center ;
      height:  30vh ;
      display:  flex ;
      justify-content:  center;
      align-items:  center ;
      flex-direction:  column ;
      box-shadow:  inset 0 8px 8px -8px rgb(0 0 0 / 30%);
      color:  white ;
      text-shadow:  2px 2px rgb(0 0 0 / 30%) ;
      margin-bottom:  4% ;

  }

.article-banner-style {
    background-color:  #7a76abbf  ;
    background-position:  center  ;
    height:  25vh  ;
    width:  100%  ;
    display:  flex  ;
    flex-direction:  column  ;
    float:  left  ;
    box-shadow:  inset 0 8px 8px -8px rgb(0 0 0 / 20%) ;
    color:  white  ;
    margin-bottom:  4%  ;
    padding-top:  2%  ;
    padding-left:  5%  ;
}

.profile-page-image-style{
  
    border-top-left-radius:   50% 50%   ; border-top-right-radius:   50% 50%   ;
    border-bottom-right-radius:   50% 50%   ; border-bottom-left-radius:   50% 50%   ;
    width:   100px   ;
    height:   100px   ;
    border-radius:   100px   ;
    margin-bottom:   1rem  
   
}

.profile-page-link-style{

  text-decoration: none ;
  color:   #6963AD   ;
  float:   right   ;
  border:   1px solid #6963AD   ;
  padding:   0.25rem 0.5rem   ;
  border-radius:   5px   ;
  font-size:   0.875rem   ;
  margin-right:   4rem   ;

}

.home-page-image-style{
  
  display:  inline-block ;
  vertical-align:  middle ;
  height:  32px ;
  width:  32px ;
  border-radius:  30px ;
  margin-right:  1rem ;
}

.home-page-tag-style{
  text-decoration: none ;
  float: right ;
  color: white ;
  border-color: white ;
  background-color:  #AA86D5 ;
  text-align:  center ;
  border-radius:  10px ;
  font-size:  13px ;
  padding:  5px ;
  margin-left: 1%;

}

.home-page-link-style {
    text-decoration: none;
    color: #6963AD;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    margin-right: 1rem;
    font-weight: 600;

}

.article-buttons{

  margin-right:1rem;
  font-weight:600;
  border-color:#aca5f0bf;
  color:#6963AD; 
  background-color:#aea8efbf ;
  border-width:medium;
  border-radius: 5px ;
}

.article-edit-link-style{
  text-decoration: none;
  color: #6963AD;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  margin-right: 1rem;
  font-weight: 600;
  border:   1px solid #6963AD   ;
  padding:   0.42rem 0.5rem   ;
  border-radius:   5px   ;
  margin-left: 4rem;

}

.profile-p-button{
  border:none;
  background:none;
  color:   #6963AD   ;
  float:   right   ;

}



.profile-p-button:hover{
  color:   white   ;
  background: #AA86D5;
  border-radius: 25px;
}

.profile-p-button:focus{
  border-bottom: 2px solid #6963AD ;
}


.icon{
  color : #AA86D5 ;
}

.footer-button{
  border:none;
  background:none;
  color:   #6963AD   ;
}

.theme-light {
  --color-primary: white;
  --tag-div-color: #F1EAF6;


}
.theme-dark {
  --color-primary: #474371;
  --font-color:#eee;
  --tag-div-color:#AA86D5;

}

.h-tags{
  background-color:  var(--tag-div-color) ;
  width:  100%   ;
  text-align:  center   ;
  padding-bottom:  15px   ;
   color:   #6963AD  ;
   margin-top:  5% ; 
   border-radius:  10px   ;
}

.app-style {
  background-color: var(--color-primary);
  color: var(--font-color);
}


